*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#side_bar{
  width: 15vw;
  height: 85vh;
  background-color: black;
  color: #FFF;
}

#bottom_nav{
  width: 100vw;
  height: 15vh;
  min-height: 100px;
  background-color: #282828;
  color: #white;
}

#main_content{
  position: absolute;
  top: 0;
  left: 15vw;
  width: 85vw;
  height: 85vh;
  background-color: #141922;
  color: #FFF;
  overflow: scroll;
  overflow-x: hidden;

}

.ms_container{
  max-width: 90%;
  max-height: 100%;
  margin: auto;
}

.music_nav ul li{
  color: #717171;
  padding: 20px 20px 5px;
  font-weight: bold;
  cursor: pointer;
}

.music_nav ul li:hover{
  color: #FFF;
}

.music_nav ul li:active{
  color: #FFF;
  border-bottom: 2px solid #ADFF2F;
}

.album{
  height: 200px;
  width: 200px;
  background-size: contain;
  margin: 20px 2% 0 4px;
}

#metal{
  background-image: url("../img/metal_lifting.jpg");
}

#player{
  background-image: url("../img/player_left.jpg");
}

#sinister{
  background-image: url("../img/sinister.jpeg");
}

#split{
  background-image: url("../img/split.jpeg");
}

#stranger{
  background-image: url("../img/stranger.jpeg");
}

#youg{
  background-image: url("../img/youg.jpeg");
}

.caption{
  width: 200px;
  margin: 0 2% 0 4px;
  vertical-align: text-top;
}

.grey{
  color: #717171;
}

#mixdaily{
  background-image: url("../img/mixdaily.jpeg");
}

#radar{
  background-image: url("../img/radar.jpeg");
}

/* DEBUG:  */

.debug{
  border: 1px solid white;
  height: 100vh;
}
