*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main{
  width: 100%;
  height: 100vh;
}

#side_bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: calc(100% - 150px);
  background-color: black;
  color: #717171;;
}

#bottom_nav{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color: #282828;
  color: #white;
}

#upgrade{
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 100px;
  background-color: #080B12;
}

#main_content{
  position: absolute;
  top: 100px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 150px - 100px);
  background-color: #141922;
  color: #FFF;
  overflow: scroll;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#main_content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#main_content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ms_container{
  max-width: 90%;
  max-height: 100%;
  margin: auto;
}

/* UPGRADE */

.ms_button{
  background-color: #080B12 !important;
  border: 1px solid white !important;
  border-radius: 100px !important;
  padding: 10px 40px !important;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 10px;
  outline: none !important;
}

.ms_button:hover{
  font-weight: 800;
  border: 2px solid white;
}

/* SIDE BAR */

#logo{
  width: 100%;
  margin: 25px;
  max-width: 180px;
}

.logo{
  width: 103px;
}

.menu{
  height: 115px;
}

.menu > ul > li{
  color: #717171;
  font-weight: 600;
  border-left: 2px solid black;
}

.menu ul li img{
  width: 25px;
  margin: 5px 5px 5px 10px;
  padding-left: 15px;
  box-sizing: content-box;
}

.menu > ul > li:active{
  border-left: 2px solid #ADFF2F;
}

.menu ul li:hover{
  color: #fff;
  font-weight: 800;
}

.playlist{
  height: calc(100% - 318px);
}

.playlist h5{
  color: #FFF;
  margin: 5px 5px 5px 25px;
}

.add_playlist{
  flex-direction: row;
  align-items: center;
}

.add_playlist:hover{
  color: white;
}

.box_add{
  width: 35px;
  height: 35px;
  background-color: #A3A3A3;
  margin: 10px 10px 10px 25px;
  display: flex;
}

.box_add:hover{
  background-color: #FFF;
}

.box_add i{
  font-size: 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.list_playlist{
  overflow-y: scroll;
  height: 30%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list_playlist::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list_playlist {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.list_playlist ul li {
  font-weight: 600;
  margin-left: 25px;
  margin-top: 15px;
}

.list_playlist ul li:hover {
  color: #FFF;
}

.user{
  position: absolute;
  bottom: 0;
  left: 35px;
  width: 200px;
  height: 100px;
  background-color: black;
}

.user > span:first-of-type:hover{
  color: #FFF;
}

.user > span:last-of-type{
  color: #FFF
}

.profile{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #717171;
  border-radius: 50%;
  line-height: 30px;
}

.profile img{
  width: 20px;
  vertical-align: middle;
}

/* MAIN CONTENT */

.music_nav ul li{
  color: #717171;
  padding: 20px 20px 5px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid #141922;;
}

.music_nav ul li:hover{
  color: #FFF;
}

.music_nav ul li:active{
  color: #FFF;
  border-bottom: 2px solid #ADFF2F;
}

.album{
  height: 200px;
  width: 200px;
  background-size: contain;
  margin: 20px 2% 0 4px;
}

.artist{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: contain;
  margin: 20px 2% 0 4px;
}

#metal{
  background-image: url("../img/metal_lifting.jpg");
}

#player{
  background-image: url("../img/player_left.jpg");
}

#sinister{
  background-image: url("../img/sinister.jpeg");
}

#split{
  background-image: url("../img/split.jpeg");
}

#stranger{
  background-image: url("../img/stranger.jpeg");
}

#youg{
  background-image: url("../img/youg.jpeg");
}

.caption{
  vertical-align: text-top;
  padding: 10px 0;
}

.grey{
  color: #717171;
}

#mixdaily{
  background-image: url("../img/mixdaily.jpeg");
}

#radar{
  background-image: url("../img/radar.jpeg");
}

#einaudi{
  background-image: url("../img/einaudi.jpeg");
}

#beltrami{
  background-image: url("../img/aquietplace.jpeg");
}


/* BOTTOM-NAV */

.img_album img{
  width: 50px;
  margin-left: 20px;
}

.description_album{
  color: #FFF;
  margin-left: 10px;
  position: relative;
  top: 58px;
}

.title > span,
.like i{
  color: #7c7c7c;
}

.like i{
  margin: 8px;
  font-size: 1.8rem;
  font-weight: bold;
}

.like i:last-of-type{
  margin-right: 33px;
}

.player i{
  font-size: 2rem;
  margin: 30px 15px;
  color: #FFF;
  vertical-align: middle;
}

.player i:nth-of-type(3n+0){
  font-size: 4rem;
  margin: 15px;
  color: #FFF;
}

label{
  color: #7c7c7c;
  font-size: 1.2rem;
  vertical-align: middle;
}

#progress{
  display: inline-block;
  height: 5px;
  width: 60%;
  background-color: #7C7C7C;
  border-radius: 5px;
}

.right_menu{
  display: inline-block;
}

.right_menu > .fa{
  font-size: 2rem;
  color: #7c7c7c;
  margin: 5px;
}

/* .volume{
  display: inline-block;
  height: 5px;
  width: 60%;
  margin-right: 10px;
  background-color: #7C7C7C;
  border-radius: 5px;
} */

/* COMMON */
.p-relative{
position: relative;
}

.flex{
  display: flex;
}

.h50{
  height: 50px;
}

.h150{
  height: 150px;
}

.lh{
  line-height: normal;
}
.lh50{
  line-height: 50px;
}

.lh100{
  line-height: 100px;
}

.lh150{
  line-height: 149px;
}

.v-align{
  vertical-align: middle;
}

.f-right{
  float: right;
}

.f-left{
  float: left;
}

/* DEBUG:  */

.debug{
  border: 1px solid white;
  height: 150px
}
