*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    overflow: hidden;
}

main{
  width: 100%;
  height: 100vh;
}

#side_bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: calc(100% - 150px);
  background-color: black;
  color: #717171;;
}

#bottom_nav{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color: #282828;
  color: #white;
}

#upgrade{
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 100px;
  background-color: #080B12;
}

#main_content{
  position: absolute;
  top: 100px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 150px - 100px);
  background-color: #141922;
  color: #FFF;
  overflow: scroll;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#main_content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#main_content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ms_container{
  max-width: 90%;
  margin: auto;
  height: 100%;
}

/* UPGRADE */

.ms_button{
  background-color: #080B12 !important;
  border: 1px solid white !important;
  border-radius: 100px !important;
  padding: 10px 40px !important;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 10px;
  outline: none !important;
}

.ms_button:hover{
  font-weight: 800;
  border: 2px solid white;
}

/* SIDE BAR */

#logo{
  width: 100%;
  margin: 25px;
  max-width: 180px;
  cursor: pointer;
}

#logo-small{
  width: 55px;
  margin: 15px 15px 15px 18px;
  cursor: pointer;
}

.logo{
  width: 103px;
}

.menu{
  height: 115px;
}

.menu > ul > li{
  color: #717171;
  font-weight: 600;
  border-left: 2px solid black;
}

.menu ul li img{
  width: 25px;
  margin: 5px 5px 5px 10px;
  padding-left: 15px;
  box-sizing: content-box;
}

.menu > ul > li:active{
  border-left: 2px solid #ADFF2F;
}

.menu ul li:hover{
  color: #fff;
  font-weight: 800;
}

.playlist{
  height: calc(100% - 318px);
}

.playlist h5{
  color: #FFF;
  margin: 5px 5px 5px 25px;
}

.add_playlist{
  flex-direction: row;
  align-items: center;
}

.add_playlist:hover{
  color: white;
}

.box_add{
  width: 35px;
  height: 35px;
  background-color: #A3A3A3;
  margin: 10px 10px 10px 25px;
  display: flex;
}

.box_add:hover{
  background-color: #FFF;
}

.box_add i{
  font-size: 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.list_playlist{
  overflow-y: hidden;
  height: 80%;
}

.list_playlist .list-unstyled {
    height: 80%;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list_playlist::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list_playlist {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.list_playlist ul li {
  font-weight: 600;
  margin-left: 25px;
  margin-top: 15px;
}

.list_playlist ul li:hover {
  color: #FFF;
}

.user{
  /* position: absolute;
  bottom: 0; */
  padding-left: 26px;
  width: 200px;
  height: 100px;
  background-color: black;
}

.user > span:first-of-type:hover{
  color: #FFF;
}

.user > span:last-of-type{
  color: #FFF
}

.profile{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #717171;
  border-radius: 50%;
  line-height: 30px;
}

.profile img{
  width: 20px;
  vertical-align: middle;
}

/* SIDEBAR RESPONSIVE */

@media screen and (max-width: 767px) {
  #side_bar{
    width: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #main_content{
  left: 70px;
  width: calc(100% - 70px);
  }

  #upgrade{
    left: 70px;
    width: calc(100% - 70px);
  }

  .logo > img{
    display: none;
  }

  .menu > ul{
    display: none;
  }

  .playlist h5{
    display: none;
  }

  .playlist .add_playlist{
    display: none;
  }

  .playlist .list_playlist{
    display: none;
  }

  .user span{
    display: none;
  }

  .user hr{
    display: none;
  }

  .user .profile{
    display: none;
  }

  .list_responsive li img{
    width: 35px !important;
  }

  .download_responsive{
    margin: 15px 15px 15px 4px;
    padding-top: 10px;
  }

  .profile_responsive img{
    width: 20px;
    vertical-align: middle;
  }

  .profile_responsive{
  width: 30px;
  height: 30px;
  background-color: #717171;
  border-radius: 50%;
  line-height: 30px;
}

}

/* MAIN CONTENT */

.music_nav ul li{
  color: #717171;
  padding: 20px 20px 5px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid #141922;;
}

.music_nav ul li:hover{
  color: #FFF;
}

.music_nav ul li:active{
  color: #FFF;
  border-bottom: 2px solid #ADFF2F;
}

.album{
  height: 200px;
  width: 200px;
  background-size: contain;
  margin: 20px 2% 20px 0px;
  cursor: pointer;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.text {
  color: white;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.album:hover{
  opacity: 0.5;
}

.text:hover{
  opacity: 0.8;
}

.artist{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: contain;
  margin: 20px 2% 20px 0px;
  cursor: pointer;
}

.artist:hover{
  opacity: 0.5;
}



#metal{
  background-image: url("../img/metal_lifting.jpg");
}

#player{
  background-image: url("../img/player_left.jpg");
}

#sinister{
  background-image: url("../img/sinister.jpeg");
}

#split{
  background-image: url("../img/split.jpeg");
}

#stranger{
  background-image: url("../img/stranger.jpeg");
}

#youg{
  background-image: url("../img/youg.jpeg");
}

.caption{
  vertical-align: text-top;
  padding: 10px 0;
}

.grey{
  color: #717171;
}

#mixdaily{
  background-image: url("../img/mixdaily.jpeg");
}

#radar{
  background-image: url("../img/radar.jpeg");
}

#einaudi{
  background-image: url("../img/einaudi.jpeg");
}

#beltrami{
  background-image: url("../img/aquietplace.jpeg");
}


/* BOTTOM-NAV */

.container-flex{
  display: flex;
  flex-direction: row;
}

.sx_menu{
  width: 20%;
  min-width: 75px;
  height: 150px;
  justify-content: flex-start;
  align-items: center;
}

.sx_menu img{
  width: 50px;
  margin: 15px;
}

.sx_menu .miniplayer_title strong{
  color: #FFF;
}

.sx_menu .miniplayer_title span{
  color: #7C7C7C;
  font-size: 1rem;
}

.miniplayer_like i{
  margin: 8px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #7C7C7C;
}

.music_player{
  width: 60%;
  min-width: 217px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player{
  color: white;
  justify-content: center;
}

.player i{
  margin: 10px;
  font-size: 2rem;
  vertical-align: middle;
}

.player i:nth-of-type(3n+0){
  font-size: 4rem;
  margin: 15px;
  color: #FFF;
}

.progress_bar{
  width: 100%;
  align-items: center;
}

label{
  color: #7c7c7c;
  font-size: 1.2rem;
  vertical-align: middle;
  margin: 3px;
}

#progress{
  display: inline-block;
  height: 5px;
  width: 50%;
  background-color: #7C7C7C;
  border-radius: 5px;
}


.menu_volume{
  width: 20%;
  min-width: 75px;
  justify-content: center;
  align-items: center;
}

.menu_volume > .fa{
  font-size: 2rem;
  color: #7c7c7c;
  margin: 5px;
}

.volume{
  display: inline-block;
  height: 5px;
  width: 25%;
  margin-right: 10px;
  background-color: #7C7C7C;
  border-radius: 5px;
}

@media screen and (max-width: 525px) {
  .sx_menu img{
    width: 30px;
    margin: 5px;
  }

  .sx_menu .miniplayer_title strong{
    font-size: 1rem;
  }

  .sx_menu .miniplayer_title span{
    font-size: 0.8rem;
  }

  .miniplayer_like i{
    margin: 4px;
    font-size: 1rem;
    font-weight: bold;
    color: #7C7C7C;
  }

  .player i{
    margin: 5px;
    font-size: 1.5rem;
  }

  .player i:nth-of-type(3n+0){
    font-size: 2rem;
    margin: 10px;
  }

  label{
    font-size: 0.8rem;
  }

  .menu_volume > .fa{
    font-size: 1.2rem;
  }
}

/* COMMON */
.p-relative{
position: relative;
}

.flex{
  display: flex;
}

.h50{
  height: 50px;
}

.h150{
  height: 150px;
}

.lh{
  line-height: normal;
}
.lh50{
  line-height: 50px;
}

.lh100{
  line-height: 100px;
}

.lh150{
  line-height: 149px;
}

.v-align{
  vertical-align: middle;
}

.f-right{
  float: right;
}

.f-left{
  float: left;
}

.d-inline{
  display: inline;
}

/* DEBUG:  */

.debug{
  border: 1px solid white;
  height: 150px
}
